---
const { searchParams } = Astro.url;

const bedrooms = searchParams.get('bedrooms');
const bathrooms = searchParams.get('bathrooms');
const minPrice = searchParams.get('minPrice');
const maxPrice = searchParams.get('maxPrice');

const response = await fetch(`${Astro.url.origin}/api/properties.json`);
const { properties } = await response.json();
---

<form method="get">
    <fieldset class="pb-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2">
        <div>
            <label for="bedrooms">
                <strong>Min bedrooms</strong>
            </label>
            <input
                class="w-full py-1 px-2 border border-event-horizon rounded-sm"
                type="number"
                name="bedrooms"
                value={bedrooms}
            />
        </div>
        <div>
            <label for="bathrooms">
                <strong>Min bathrooms</strong>
            </label>
            <input
                class="w-full py-1 px-2 border border-event-horizon rounded-sm"
                type="number"
                name="bathrooms"
                value={bathrooms}
            />
        </div>
        <div>
            <label for="minPrice">
                <strong>Min price</strong>
            </label>
            <input
                class="w-full py-1 px-2 border border-event-horizon rounded-sm"
                type="number"
                name="minPrice"
                value={minPrice}
            />
        </div>
        <div>
            <label for="maxPrice">
                <strong>Max Price</strong>
            </label>
            <input
                class="w-full py-1 px-2 border border-event-horizon rounded-sm"
                type="number"
                name="maxPrice"
                value={maxPrice}
            />
        </div>
    </fieldset>
    <button
        type="submit"
        class="w-full text-white inline-block uppercase font-bold tracking-[0.08em] bg-event-horizon rounded-full py-3 px-6"
        >Search</button
    >
</form>
